NEXT_PUBLIC_GOOGLE_CLIENT_ID=
NEXT_PUBLIC_API_BASE_URL=
NEXT_PUBLIC_EXTERNAL_API_BASE_URL=
NEXT_PUBLIC_GOOGLE_REDIRECT_URI=
NEXT_PUBLIC_RECAPTCHA_V3_SITE_KEY=
NEXT_PUBLIC_RECAPTCHA_V2_CHECKBOX_SITE_KEY=

# Cookie security: set to "true" in production (HTTPS), "false" in local development (HTTP)
COOKIE_SECURE=false
