*
!blog-api
!blog-api/build
!blog-api/build/libs
!blog-api/build/libs/*.jar
!blog-batch
!blog-batch/build
!blog-batch/build/libs
!blog-batch/build/libs/*.jar
!blog-worker
!blog-worker/build
!blog-worker/build/libs
!blog-worker/build/libs/*.jar
